<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <p class="name"> <%= @user.name %> </p>
    </section>
  </aside>
</div>
