<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_path(@user) %>">
    <strong id="friends" class="stat">
      <%= num_friends(@user) %>
    </strong>
    friends
  </a>
</div>
